html {
    font: small/1.4 ,"Lucida Grande", Tahoma, sans-serif;
}
body{
   font-size: 92%;
}

#nav-bar{
    margin: 0;
    padding: 0;
    background: #6F6146;
    list-style-type: none; 
    width: 180px;
} 

#nav-bar li{
    margin: 0;
    padding: 0;
}

#nav-bar a {
    display: block;
    color: #FFF;
    text-decoration: none; /* link exibido sem sublinhado */
    padding: 0 15px;
    line-height: 2.5;
    border-bottom: 1px solid #FFF;
} 

#nav-bar#nav_con a {
    border: none;
}
#nav-bar a:hover {
    background: #4F4532;


}


